body, html {
	margin: 0;
	padding: 0;
}

body {
	background-color: #454c71;
	color: #fbf8f8;
	text-align: center;
	font-family: sans-serif;
}

a {
	color: #fbf8f8;
}

#logo {
	margin-top: 1em;
}

#logo img {
	width: 100%;
	max-width: 800px;
}

#content {
	max-width: 600px;
	margin: 0 auto;
}

section {
	margin: 2em 1em;
}

.boxed {
	padding: 2em 1em;
	color: #222326;
	background-color: #fbf8f8;
	border-radius: 1em;
}

.boxed h2 {
	font-size: 2em;
	margin: 0;
	margin-bottom: 1em;
}

a.boxlink {
	padding: 1em 2.5em;
	margin: 0;
	border-radius: 1.5em;
	background-color: #ba4423;
	display: inline-block;
	text-decoration: none;
	font-weight: bold;
}
